html {
    scroll-behavior: smooth;
    height: 100%;
}

:root {
  --bg-col: #FFDBB5;
  --footercol: #2D3047;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-col);
  background-size: auto;
  background-attachment: fixed;
  margin: 0;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 0px 20px rgba(66, 68, 90, 1);
}

h1 {
  text-align: center;
  font-size: 50px;
}

hr {
  color: white;
  width: 90%;
  height: 10%;
}

img {
  height: 15rem;
  width: 18rem;
  border-radius: 20px;
}

p {
  max-width: 55ch;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;

}

footer {
  background: var(--footercol);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 8rem;
}

#space {
  margin: 0;
}

@media (min-width: 375px) {
  img {
      height: 15rem;
      width: 21rem;
      border-radius: 20px;
  }

  section {
      flex-direction: column;
      gap: 0;
  }
}

@media (min-width: 800px) {
  img {
      height: 35rem;
      width: 45rem;
      border-radius: 20px;
  }

  h1 {
      text-align: center;
      font-size: 70px;
  }

  h2 {
      text-align: center;
      font-size: 40px;
      margin: 0;
  }

  p {
      max-width: 75ch;
  }

  footer {
      height: 7rem;
  }
}

@media (min-width: 1300px) {
  img {
      height: 35rem;
      width: 45rem;
      border-radius: 20px;
  }

  h1 {
      text-align: center;
      font-size: 70px;
  }

  h2 {
      text-align: center;
      font-size: 40px;
      margin: 0;
  }

  p {
      max-width: 75ch;
  }

  footer {
      height: 7rem;
  }

  section {
      flex-direction: row;
      gap: 10rem;
  }

  #space {
      margin-bottom: 3.5rem;
  }
}

@media (min-width: 2300px) {
  img {
      height: 55rem;
      width: 65rem;
      border-radius: 20px;
  }

  h1 {
      text-align: center;
      font-size: 90px;
  }

  h2 {
      text-align: center;
      font-size: 60px;
      margin: 0;
  }

  p {
      max-width: 75ch;
  }

  body {
      font-size: 45px;
  }

  footer {
      height: 11rem;
  }

  #space {
      margin: 11.6rem;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
  transition: 0.3s all ease-out;
}

a:hover {
  color: skyblue;
  transition: 0.3s all ease-out;
}

a:-webkit-any-link#home {
  text-decoration: none;
  color: white;
  transition: 0.3s all ease-out;
}

a:hover#home {
  color: skyblue;
  transition: 0.3s all ease-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
