/*Config*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html ::-webkit-scrollbar {
    display: none;
}

:root {
    --bg-col: #FFDBB5;
    --footercol: #2D3047;
}

/*^Config*/

/*Main Website Body*/
header {
    background: var(--footercol);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 70px;
    position: fixed;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: var(--bg-col);
    background-size: auto;
    background-attachment: fixed;
    margin: 0;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: white;
}

main {
    padding-top: 160px;
    min-height: 90.7%;
}

footer {
    background: var(--footercol);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 70px;
    margin-top: 20px;
    width: 100%;
}

/*^Main Website Body*/

/*Text*/
h1 {
    text-align: center;
    font-size: 55px;
    text-shadow: 0px 0px 20px rgba(66, 68, 90, 1);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

p {
    margin: 0;
}

figcaption {
    text-align: center;
    padding-top: 20px;
}

footer h2 {
    font-size: 25px;
    text-align: center;
}

header h2 {
    width: 181px;
    text-align: center;
}

/*^Text*/

/*Wrapping blocks*/
img,
iframe {
    width: 800px;
    border: solid var(--footercol) 5px;
}

figure {
    background-color: var(--footercol);
    padding: 20px;
    text-align: center;
    width: 800px;
}

iframe {
    margin-top: 20px;
    height: 445px;
}

img,
figure,
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transition: 0.3s all ease-out;
}

header {
    box-shadow: 0px 7px 60px 4px rgba(0, 0, 0, 0.5);
}

img:hover,
figure:hover,
iframe:hover,
footer {
    box-shadow: 0px 0px 60px 4px rgba(0, 0, 0, 0.5);
}

figure img {
    width: 800px;
    margin: 0;
}

div {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#figwimg {
    padding: 0px;
    padding-bottom: 20px;
}

/*^Wrapping blocks*/

/*Links*/
a,
i {
    transition: 0.3s all ease-out;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: skyblue;
}

figcaption a: {
    text-decoration: underline;
}

/*^Links*/

/*Classes*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: solid 3px black;
}

/*^Classes*/

/*ID*/
#icon {
    width: 32.81px;
    margin: 0;
}

#color1 {
    background-color: #D8DCFF;
    border: dashed;
}

#color2 {
    background-color: #C3C5F8;
    border: dotted;
}

#color3 {
    background-color: #AEADF0;
    border: double;
}

#color4 {
    background-color: #B99DC2;
    border: groove yellow;
}

#color5 {
    background-color: #C38D94;
    border: ridge;
}

#color6 {
    background-color: #B57983;
    border: inset violet;
}

#color7 {
    background-color: #A76571;
    border: outset blue;
}

#color8 {
    background-color: #565676;
    border: dotted yellowgreen;
}

#color9 {
    background-color: #656582;
}
/*^ID*/
